<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labor UNAI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="sieses.css">
    
</head>
<body>

        <!-- Toggler/collapsibe Button -->
        <div class="navbar navbar-expand-sm">
          <div class="container-fluid">
              <ul class="navbar-nav">
                  <li class="title">LABOR UNAI</li>
              </ul>
              <div class="mx-auto"></div>
              <ul class="navbar-nav navi">
                  <li class="nav-item">
                      <a href="index.html" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="departement.html" class="nav-link">Departement</a>
                  </li>
                  <li class="nav-item">
                      <a href="lamaran.html" class="nav-link">Lamaran</a>
                  </li>
              </ul>
              <div class="mx-auto"></div>
              <div class="dropdown sn">
                  <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                      <i class='bx bx-music' width="100px"></i>
                      <span style="padding: 60px 15px;">Labor Unai</span>
                  </button>
                  <ul class="dropdown-menu">
                      <li>
                          <a href="index.html" class="dropdown-item">Home</a>
                      </li>
                      <li>
                          <a href="departement.html" class="dropdown-item">Departement</a>
                      </li>
                      <li>
                        <a href="lamaran.html" class="dropdown-item">Lamaran</a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>

    <div id="app">

        <div class="container">
            <div class="py-5 text-center">
              <h2>Pencari Labor Mahasiswa UNAI</h2>
              <p class="lead">T.A Genap 2021/2022</p>
            </div>
      
            <div class="col-md-12">
              <h4 class="mb-3">Lamaran Data  <button class="btn btn-md btn-primary" v-on:click="resetForm()">Create new User </button>
              </h4>
              <table class="table table-striped">
                  <tr>
                      <th>ID</th>
                      <th>ID User</th>
                      <th>ID Lowongan</th>
                      <th>Status</th>
                      <th>Waktu</th>
                      <th>Edit</th>
                      <th>Delete</th>
                  </tr>
                  <tr v-for="lamaran in lamarans">
                      <td>{{ lamaran.id }}</td>
                      <td>{{ lamaran.id_user }}</td>
                      <td>{{ lamaran.status}}</td>
                      <td>{{ lamaran.waktu}}</td>
                      <td><button class="btn btn-md btn-warning" v-on:click="getEdit(lamaranIdEdit)">Edit</button></td>
                      <td><button class="btn btn-danger" v-on:click="getDelete(lamaran)">Delete</button></td>
                  </li>
              </table>

              <div v-if="message" class="alert alert-success" role="alert">
                  {{ message }}
              </div>
              
          
              <h4 class="mb-3">Lamaran Information</h4>
                <div class="row">
                  <div class="mb-3">
                      <label for="username">id_user</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">@</span>
                        </div>
                        <input v-model="id_user" type="text" class="form-control" id="id_user" placeholder="id_user" required>
                        <div class="invalid-feedback" style="width: 100%;">
                          Your user is required.
                        </div>
                      </div>
                    </div>

                <div class="mb-3">
                  <label for="">Status <span class="text-muted">(Optional)</span></label>
                  <input v-model="status" type="status" class="form-control" id="status" placeholder="Inside/Outside">
                  <div class="invalid-feedback">
                    Your Status is required.
                  </div>
                </div>

                <div class="mb-3">
                    <label for="waktu">Waktu</label>
                    <input v-model="waktu" type="text" class="form-control" id="waktu" placeholder="Ketikkan Jam Waktu anda Melamar" value="" required>
                    <div class="invalid-feedback">
                      Valid Waktu is required.
                    </div>
                </div>
              </div>
          </div>
              
                <hr class="mb-4">
                <button v-if="!editMode && !deleteMode" v-on:click="createLamaran" class="btn btn-primary btn-lg btn-block" type="submit">Submit Data</button>
                <button v-if="editMode" v-on:click="updateLamaran" class="btn btn-warning btn-lg btn-block" type="submit">Update Data</button>
                <button v-if="deleteMode" v-on:click="deleteLamaran" class="btn btn-danger btn-lg btn-block" type="submit">Delete Data</button>
                
              </form>
            </div>
          </div>

          <footer class="my-5 pt-5 text-muted text-center text-small">
              <p class="mb-1">&copy; 2021 FTI UNAI</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
              </ul>
            </footer>

  </div>
  
  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
      var app = new Vue ({
          el: '#app',
          data: {
              errors: [],
              message: null,
              lamarans:[],
              LamaranIdEdit: null,
              LamaranIdDelete: null,
              editMode: false,
              deleteMode: false,
              status: '',
              waktu: '',
          },
          mounted: function() {
              this.getLamaran();
          },
          methods: {
              getLamaran() {
                  axios.get('https://6220a6f9afd560ea6998b137.mockapi.io/lamaran')
                      .then(response => {
                          this.lamarans = response.data;
                          console.log(response);
                      })
                      .catch(error => {
                          console.log(error);
                      });
              },
              createLamaran: function(){
                  axios.post('https://6220a6f9afd560ea6998b137.mockapi.io/lamaran', {
                      status: this.status,
                      waktu: this.waktu,
                  })
                  .then(response => {
                          this.getLamaran();
                          this.message = "Your data has been submitted";
                          console.log(response);
                  })
                  .catch(error => {
                          console.log(error);
                  });
              },
              resetForm: function () {
                  this.message = null;
                  this.editMode = false;
                  this.deleteMode = false;
                  this.lamaranIdEdit = null;
                  this.status = null;
                  this.waktu = null;
                
              },
              getEdit: function (lamaran) {
                  this.message = null;
                  this.editMode = true;
                  this.deleteMode = false;
                  this.lamaranIdEdit = lamaran.id;
                  this.status = lamaran.status;
                  this.waktu = lamaran.waktu;
                
              },
              getDelete: function (lamaran) {
                  this.message = null;
                  this.deleteMode = true;
                  this.editMode = false;
                  this.lamaranIdDelete = lamaran.id;
                  this.status = lamaran.status;
                  this.waktu = lamaran.waktu;
                 
              },
              updateUser: function () {
                  axios.put(`https://6220a6f9afd560ea6998b137.mockapi.io/lamaran/${this.lamaranIdEdit}`, {
                          status: this.status,
                          waktu: this.waktu,
                        
                      })
                      .then(res => {
                          // handle success
                          this.message = "Your data has been updated";
                          this.getLamaran();
                      })
                      .catch(err => {
                          // handle error
                          console.log(err);
                      })
              },
              // Delete Lamaran
              deleteLamaran: function () {
                  axios.delete(`https://6220a6f9afd560ea6998b137.mockapi.io/lamaran/${this.userIdDelete}`)
                      .then(res => {
                          // handle success
                          this.message = "Your data has been deleted";
                          this.getLamaran();
                      })
                      .catch(err => {
                          // handle error
                          console.log(err);
                      })
              }
          }
      })
  </script>
</body>
</html>